body {
  background: #ffe3ff8a;
  
}

h1 {
  font-size: 25px;
  font-weight:600;
  line-height: 35px;
  color: rgb(236, 110, 76);
  margin: 0 auto;
}

h2 {  
  font-size: 15px;  
  line-height: 24px;
  color:#212529de;
  margin: 0 auto;
}

h2:first-letter {
  text-transform: capitalize;
}

ul {
  margin: 0 0;
  padding: 0 0;
}

li {
  list-style: none;
  
}

a {
  text-decoration-line: none;
  color: #EC6E4C;
  font-weight: 600;
}
a:hover {
  color: #f03501;
}

small {
  font-size: 12px;  
  text-align: center;
  display: block;
}


.app-wrapper {
  font-family: 'Roboto Mono', monospace;
}

.go-button, .forecast-five-days, .form-control, .today-weather  {
  background: rgb(255, 255, 255);
  border: 0px solid rgb(221, 221, 221);
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(236, 110, 76, 0.594);
}

.app-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.forecast-five-days {    
  margin: 20px auto 40px;
  padding: 15px 15px;  
  text-align: center;
}

.forecast-date {
  font-size: 14px;  
  color: rgb(0, 0, 0);
}

.forecast-temperature {
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.forecast-temp-min {
  opacity: 0.7;
}

.form-control, .go-button {
  font-size: 15px;
}

.form-control, .go-button {
  color:rgba(236, 111, 76, 0.871);
}

.go-button:hover {
  background: rgba(236, 111, 76, 0.705);
}

.search-engine {
  margin: 100px auto 20px;;  
}

.today-details {   
  color:#212529de;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  top: 5px;
}

.today-description {
  font-size: 19px; 
  position: relative;
  top: 5px;
}

.today-picture {
  position: relative;
  top: -10px;
  right: -10px;
  width: 100px;
  margin-right: 20px;
}

.today-weather {    
  margin: 0 auto;  
  padding: 20px 20px 2px;
  }

.today-temp strong {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
}

.today-temp {
  position: relative;
  top: 15px;
}

.today-temp .units {
  position: relative;
  font-size: 15px;
  top: -16px;
  color: rgb(73, 73, 73);
}

.today-temp .active {
  color: rgb(73, 73, 73);
  cursor: default;
  text-decoration: none;
}

.weather-data {
  margin: 20px auto;
}

#description:first-letter {
  text-transform: capitalize;
}