h1 {
  font-size: 25px;
  line-height: 35px;
  color: rgb(0, 0, 0);
  margin: 0 auto;
}

h2 {
  font-size: 18px;
  line-height: 24px;
  color: rgb(73, 73, 73);
  margin: 0 auto;
}

h2:first-letter {
  text-transform: capitalize;
}

ul {
  margin: 0 0;
  padding: 0 0;
}

li {
  list-style: none;
  
}

a {
  text-decoration-line: none;
  color: rgb(16, 0, 88)00);
  font-weight: 600;
}

.app-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px;
  margin: 0 auto;
}

.forecast-five-days {
  margin: 20px auto;
  padding: 5px 5px;
  border: 0.5px solid rgb(221, 221, 221);
  border-radius: 4px;
  text-align: center;
}

.forecast-date {
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.forecast-temperature {
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.forecast-temp-min {
opacity: 0.7;
}

.search-engine {
  margin: 30px auto;
}

.today-picture {
  width: 150px;
  margin-right: 20px;
}

.today-weather {
  margin: 0 auto;
  padding: 10px 10px;
  border: 0.5px solid rgb(221, 221, 221);
  border-radius: 4px;
}

.today-temp strong {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
}

.today-temp .units {
  position: relative;
  font-size: 20px;
  top: -16px;
  color: rgb(73, 73, 73);
}

.today-temp .active {
  color: rgb(73, 73, 73);
  cursor: default;
  text-decoration: none;
}

.weather-data {
  margin: 20px auto;
}

